# Файл конфигурации с секретными данными (ТОКЕН, ПАРОЛИ)
# ЭТО САМОЕ ВАЖНОЕ ПРАВИЛО!
config.py

# База данных с информацией о пользователях
data/PublicHost.db

# Кэш и служебные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
env/
.venv/

# Лог-файлы
*.log
logs/

# Файлы IDE
.idea/
.vscode/
